## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config3 import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("C:/Users/cewar/Documents/GitHub/World_Weather_Analysis/Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Jamestown,US,2022-05-28 20:54:59,42.0970,-79.2353,67.01,76,75,5.75,Clouds
1,1,Baykit,RU,2022-05-28 20:55:00,61.6700,96.3700,46.71,61,99,3.24,Clouds
2,2,Arraial Do Cabo,BR,2022-05-28 20:55:00,-22.9661,-42.0278,75.16,78,75,9.22,Clouds
3,3,Mataura,NZ,2022-05-28 20:55:00,-46.1927,168.8643,40.48,90,100,2.91,Clouds
4,4,Bethel,US,2022-05-28 20:55:01,41.3712,-73.4140,70.02,90,78,4.92,Rain

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Arraial Do Cabo,BR,2022-05-28 20:55:00,-22.9661,-42.0278,75.16,78,75,9.22,Clouds
6,6,Adrar,MR,2022-05-28 20:55:01,20.5022,-10.0711,89.38,31,35,7.61,Clouds
8,8,Hamilton,US,2022-05-28 20:51:38,39.1834,-84.5333,76.24,70,100,4.61,Clouds
9,9,Abu Kamal,SY,2022-05-28 20:55:03,34.4506,40.9171,85.86,12,67,3.53,Clouds
10,10,Susangerd,IR,2022-05-28 20:55:03,31.5608,48.1831,87.12,9,0,8.25,Clear
...,...,...,...,...,...,...,...,...,...,...,...
655,655,Nizwa,OM,2022-05-28 21:13:08,22.9333,57.5333,87.42,18,0,4.85,Clear
657,657,Gigmoto,PH,2022-05-28 21:13:10,13.7796,124.3900,80.44,81,14,5.84,Clouds
660,660,Phibun Mangsahan,TH,2022-05-28 21:13:11,15.2447,105.2291,75.06,90,56,8.79,Clouds
668,668,Carutapera,BR,2022-05-28 21:13:14,-1.1950,-46.0200,76.46,90,85,3.94,Clouds
669,669,La Union,PE,2022-05-28 21:13:14,-5.4000,-80.7500,81.43,43,13,14.92,Clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                0
Date                   0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Arraial Do Cabo,BR,2022-05-28 20:55:00,-22.9661,-42.0278,75.16,78,75,9.22,Clouds
6,6,Adrar,MR,2022-05-28 20:55:01,20.5022,-10.0711,89.38,31,35,7.61,Clouds
8,8,Hamilton,US,2022-05-28 20:51:38,39.1834,-84.5333,76.24,70,100,4.61,Clouds
9,9,Abu Kamal,SY,2022-05-28 20:55:03,34.4506,40.9171,85.86,12,67,3.53,Clouds
10,10,Susangerd,IR,2022-05-28 20:55:03,31.5608,48.1831,87.12,9,0,8.25,Clear
...,...,...,...,...,...,...,...,...,...,...,...
655,655,Nizwa,OM,2022-05-28 21:13:08,22.9333,57.5333,87.42,18,0,4.85,Clear
657,657,Gigmoto,PH,2022-05-28 21:13:10,13.7796,124.3900,80.44,81,14,5.84,Clouds
660,660,Phibun Mangsahan,TH,2022-05-28 21:13:11,15.2447,105.2291,75.06,90,56,8.79,Clouds
668,668,Carutapera,BR,2022-05-28 21:13:14,-1.1950,-46.0200,76.46,90,85,3.94,Clouds
669,669,La Union,PE,2022-05-28 21:13:14,-5.4000,-80.7500,81.43,43,13,14.92,Clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Arraial Do Cabo,BR,75.16,Clouds,-22.9661,-42.0278,
6,Adrar,MR,89.38,Clouds,20.5022,-10.0711,
8,Hamilton,US,76.24,Clouds,39.1834,-84.5333,
9,Abu Kamal,SY,85.86,Clouds,34.4506,40.9171,
10,Susangerd,IR,87.12,Clear,31.5608,48.1831,
...,...,...,...,...,...,...,...
655,Nizwa,OM,87.42,Clear,22.9333,57.5333,
657,Gigmoto,PH,80.44,Clouds,13.7796,124.3900,
660,Phibun Mangsahan,TH,75.06,Clouds,15.2447,105.2291,
668,Carutapera,BR,76.46,Clouds,-1.1950,-46.0200,
669,La Union,PE,81.43,Clouds,-5.4000,-80.7500,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"    

    # 6e. Make request and retrieve the JSON data from the search. 
    params["location"] = f"{lat},{lng}"
    hotels = requests.get(base_url, params=params).json()   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Arraial Do Cabo,BR,75.16,Clouds,-22.9661,-42.0278,Pousada Porto Praia
6,Adrar,MR,89.38,Clouds,20.5022,-10.0711,
8,Hamilton,US,76.24,Clouds,39.1834,-84.5333,Six Acres Bed & Breakfast
9,Abu Kamal,SY,85.86,Clouds,34.4506,40.9171,البوكمال
10,Susangerd,IR,87.12,Clear,31.5608,48.1831,دفتر خدمات هوایی وجهانگردی نسیم گستر دشت آزادگان
...,...,...,...,...,...,...,...
655,Nizwa,OM,87.42,Clear,22.9333,57.5333,Orient Apartments
657,Gigmoto,PH,80.44,Clouds,13.7796,124.3900,Cj's Travellers Inn
660,Phibun Mangsahan,TH,75.06,Clouds,15.2447,105.2291,ซันนี่ รีสอร์ท
668,Carutapera,BR,76.46,Clouds,-1.1950,-46.0200,Lidera
669,La Union,PE,81.43,Clouds,-5.4000,-80.7500,Los Portales

In [10]:
hotel_df.isnull().sum()

City                   0
Country                0
Max Temp               0
Current Description    0
Lat                    0
Lng                    0
Hotel Name             0
dtype: int64

In [11]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Arraial Do Cabo,BR,75.16,Clouds,-22.9661,-42.0278,Pousada Porto Praia
6,Adrar,MR,89.38,Clouds,20.5022,-10.0711,
8,Hamilton,US,76.24,Clouds,39.1834,-84.5333,Six Acres Bed & Breakfast
9,Abu Kamal,SY,85.86,Clouds,34.4506,40.9171,البوكمال
10,Susangerd,IR,87.12,Clear,31.5608,48.1831,دفتر خدمات هوایی وجهانگردی نسیم گستر دشت آزادگان
...,...,...,...,...,...,...,...
655,Nizwa,OM,87.42,Clear,22.9333,57.5333,Orient Apartments
657,Gigmoto,PH,80.44,Clouds,13.7796,124.3900,Cj's Travellers Inn
660,Phibun Mangsahan,TH,75.06,Clouds,15.2447,105.2291,ซันนี่ รีสอร์ท
668,Carutapera,BR,76.46,Clouds,-1.1950,-46.0200,Lidera
669,La Union,PE,81.43,Clouds,-5.4000,-80.7500,Los Portales

In [12]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [13]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [14]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))